<!--This file is going to be a sub file of base.html file! that's y we extend!-->
{% extends 'blog/base.html' %}
{% block content %}

<div class="container-fluid ">
    <div class="row">
        <!-- <h2 >Latest Posts</h2> -->

        <!--VARIABLE INTERPOLATION-->
        <!-- <h2 >{{ blog_title }}</h2> -->

        <!-- FILTER : changes val into upppercase -->
         <!-- length, truncate:{no.of words needed}-->
        <h2>{{ blog_title | upper }}</h2>
        
    </div>
    <div class="row m-3">

        <!-- we use if tag to check if data is present, if not then we display diff data!-->
        {% if posts %}

            <!-- we shared a post variable from views dict right? this is the one! like simple for loop-->
            {% for post in posts%}
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img style="height:300,width:300" src="{{post.img_url}}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.content | truncatechars:50}}</p>
                                <div class="d-flex justify-content-between">
                                    
                                    {% comment %} normal way {% endcomment %}
                                    {% comment %} <a href="/blog/post/{{post.id}}">Read More</a> {% endcomment %}

                                    {% comment %} using url tag {% endcomment %}
                                    <a href="{% url 'blog:detail' slug=post.slug %}">Read More</a>

                                    <a class="text-decoration-none text-dark fw-bold" href="#">{{post.category.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--we removed clone div here-->
        
        {% else %}
        <p>No posts available</p>
        {% endif %}

    </div>    
</div>

{% endblock %}
